name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create SSH key file
        run: |
          mkdir -p /github/home/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > /github/home/.ssh/ec2_key
          chmod 600 /github/home/.ssh/ec2_key

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key_path: /github/home/.ssh/ec2_key
          port: 22
          script: |
            cd ~/Share_Plate/Backend
            git pull origin main
            npm install
            pm2 restart shareplate-backend || pm2 start server.js --name shareplate-backend
            pm2 save
